*{
  box-sizing: border-box;
}

body{
    color: #494E61;
    font-family: sans-serif;
}

nav{
    background: #494E61;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.right{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 1fr;
    font-size: .8em;
    font-weight: bold;
}

.right > strong {
    grid-row: 1/2;
    align-self: end;
    color: #8C93AD;
}

.right > span {
    grid-row: 2/3;
    align-self: start;
    justify-self: right;
    color: #B08087;
    text-decoration: underline;
}

.right > img {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
}

.profile__img{
    width: 50px;
    border-radius: 25%;
}

header{
    background-color:  #ffeef0;
    text-align: center;
    padding: 50px;
}

header h1{
    color: #FA5B33;
    font-family: 'Ultra', serif;
    font-size: 2em;
}

header form{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

form input{
    margin: 2em 0;
    padding: 1.5em 1em;
    border: 4px solid #EFADB4;
    font-size: 1em;
    background-color: #F5F1F1;
}

button{
    background-color: #3B1CFF;
    color: #F5F1F1;
    font-family: 'Ultra', serif;
    font-size: 1.2em;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 1em 3em;
}

main h2{
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: 1.5em;
    margin: 1.5em 0;
}

main{
    text-align: center;
}

main article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1em;
    margin: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #EEEEEE;
}

article .likes{
    background-color: #EEEEEE;
    display: inline-block;
    padding: 1em;
    width: 60px;
}

article .likes img{
    width: 25px;
}

article .likes p{
    color: #A7AEC5;
    margin-top: .5em;
    font-size: .9em;
}

article > p{
    align-self: center;
    justify-self: center;
}

article > img {
    align-self: center;
    justify-self: end;
}

article strong {
    display: none;
}

main .more {
    font-weight: bold;
    color: #3B1CFF;
    padding: 5em;
    display: inline-block;
}

@media (min-width: 60em) {
    form input {
        width: 50%;
    }
    
    main article{
        grid-template-columns: 1.5fr 8fr 8fr 1fr;
        margin: 3em;
    }
    
    article .likes{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        width: 90px;
    }
    
    article > p{
        justify-self: start;
    }
    
    article strong{
        display: block;
        color: #DD8C79;
        font-weight: bold;
        justify-self: end;
        align-self: center;
    }
}