*{
  box-sizing: border-box;
}

body {
    margin: 0;
}

nav{
  background: #494E61;
  padding: 20px;
}

header{
    background-color:  #ffeef0;
    text-align: center;
}

header h1{
    color: #f75c3c;
    font-family: 'Arial', sans-serif;
}

.main{
    text-align: center;
}